.card {
 font-family: arial;
 font-size: 20px;
 text-align: center;
 color: black;
 background-color: white;
}

.glift-comment-box {
  font-size: 16px;
}

* { -webkit-tap-highlight-color: rgba(0,0,0,0); } 
